$color-sky: #CAEBF2;
$color-carbon: #A9A9A9;
$color-dark-grey: #A2A3A4;
$color-watermelon: #FF3B3F;
$color-neutral: #EFEFEF;
$color-gold: #C9B037;
$color-silver: #D7D7D7;
$color-bronze: #AD8A56;
$color-opaque-black: rgb(0 0 0 / 0.6);
$height-nav: 60px;

body, html {
  height: 100vh;
  width: 100%;
}

#root, .app-container {
  height: inherit;
  width: inherit;
}

.app-container {
  display: grid;
  grid-template-rows: $height-nav auto;
  grid-template-columns: 1fr 4fr 1fr;
}

.pageContainer {
  width: 100%;
  height: fit-content;
  min-height: calc(100vh - $height-nav);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  background-color: $color-dark-grey;
  overflow: hidden;
  grid-row: 2 / 4;
  grid-column: 1 / 4;
}

.leftContainer {
  background: $color-dark-grey;
}

.midContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column: 2 / 3;
}

.rightContainer {
  background: $color-dark-grey;
}
.main-nav {
  background-color: $color-sky;
  color: $color-carbon;
  width: 100% !important;
  position: fixed;
  grid-row: 1 / 2;
  z-index: 1;

  .dropdown-item {
    &:focus {
      background-color: $color-sky;
    }
  }
  .dropdown-item.active {
    background-color: $color-sky;
    color: $color-carbon;
  }
}

.main-nav::after {
  position: absolute;
  background: linear-gradient(180deg, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0));
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -5px;
  content: '';
}

.blog-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.banner-img {
  width: 80%;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.4;
}

.table-container {
  display: grid;
  width: 100%;
  place-items: center;
  margin-top: 20px;
}

.abyss-table {
  width: 80%;
  display: grid;
  place-items: center;
  overflow: auto;

  &::-webkit-scrollbar-track {
    background-color: $color-neutral;
    opacity: 0;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, $color-sky 50%, rgb(255 255 255 / 0));
    box-shadow: inset 2px 2px 5px 0 rgba(#FFF, 0.5);
    border-radius: 100px;
  }

  &::-webkit-scrollbar {
    width: 15px;
  }

  .abyss-info-row:nth-child(odd) {
    background-color: $color-opaque-black;
  }

  .abyss-info-row:nth-child(even) {
    background-color: rgb(0 0 0 / 0.4);
  }
}

.blog-post {
  width: 80%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: auto;
  background-color: $color-opaque-black;
  color: $color-neutral;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 0.15);
  white-space: pre-line;
  position: relative;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
  }

  textarea {
    height: 150px;
  }

  .edit {
    color: $color-carbon;
    flex-shrink: 0;

    svg {
      margin-right: 10px;
    }
    svg:hover {
      color: $color-sky;
      cursor: pointer;
    }
  }

  .content-area {
    width: 100%;
    height: fit-content;
    margin-top: 20px;
  }

  .blog-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-group {
    margin-bottom: 20px;
    width: 80%;
  }

  button {
    &:hover {
      background-color: $color-carbon;
      cursor: pointer;
    }

    margin-bottom: 10px;
  }

  .button-group {
    width: 70%;
  }

  .new-post-above, .new-post-below {
    position: absolute;
    width: 100%;
    height: fit-content;
    background: rgb(0 0 0 / 0.2);
    display: grid;
    place-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      background: $color-sky;
      cursor: pointer;
    }
  }

  .new-post-above {
    left: 0;
    top: 0;
    margin-bottom: 5px;
  }

  .new-post-below {
    left: 0;
    bottom: 0;
    margin-top: 5px;
  }
}

.leaderboard-row {
  height: 50px;
  background: rgb(0 0 0 / 0.8);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  text-align: center;
}

.leaderboard-row::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 5px;
  width: 100%;
  background: linear-gradient(180deg, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0));
}

.abyss-info-row {
  margin-bottom: 10px;
  text-align: center;

  &:hover {
    background-color: rgb(0 0 0 / 0.9);
  }

  td {
    position: relative !important;
    color: $color-neutral !important;

    &:hover {
      color: $color-gold !important;
    }
    
    .rank-col {
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: $color-watermelon;
      color: black;
    }

    #rank-1 {
      background-color: $color-gold;
    }

    #rank-2 {
      background-color: $color-silver;
    }

    #rank-3 {
      background-color: $color-bronze;
    }
  }
}

.table-filters {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;

  button {
    background-color: $color-opaque-black;
    color: $color-neutral;
    border-radius: 0 !important;

    &:hover {
      color: $color-gold;
    }
  }
}

.search-container {
  width: 80%;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.filter-container {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.edit-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  display: grid;
  place-items: center;
  height: fit-content;
  transform: translate(-50%, -50%);

  svg {
    font-size: 25px;
    color: $color-carbon;

    &:hover {
      color: $color-gold;
      cursor: pointer;
    }
  }
}

.welcome-banner {
  margin-top: 20px;
  color: $color-sky;
}

@media (max-width: 900px) {
  .abyss-table, .filter-container, .search-container {
    width: 100%;
    font-size: 10px;
  }
}

@media (max-width: 1200px) {
  .abyss-table, .filter-container, .search-container {
    width: 90%;
    font-size: 11px;
  }

  .banner-img {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .pageContainer {
    grid-column: 1 / 4;
  }
}