$color-sky: #CAEBF2;
$color-carbon: #A9A9A9;
$color-watermelon: #FF3B3F;
$color-neutral: #EFEFEF;
$height-nav: 60px;

body, html {
  height: 100vh;
  width: 100%;
}

#root, .app-container {
  height: inherit;
  width: inherit;
}

.app-container {
  display: grid;
  grid-template-rows: $height-nav auto;
  grid-template-columns: 1fr 4fr 1fr;
}

.pageContainer {
  width: 100%;
  height: fit-content;
  min-height: calc(100vh - $height-nav);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-neutral;
  overflow: hidden;
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.main-nav {
  background-color: $color-sky;
  color: $color-carbon;
  width: 100% !important;
  position: fixed;
  grid-row: 1 / 2;
}

.main-nav::after {
  position: absolute;
  background: linear-gradient(180deg, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0));
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -5px;
  content: '';
}

.blog-section {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner-img {
  width: inherit;
  height: 400px;
  background-image: url('../assets/banner-image-tgh.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: $color-sky;
}

.table-container {
  display: grid;
  place-items: center;
  
}
.abyss-table {
  width: 80%;
  margin-top: 20px;
  display: grid;
  place-items: center;
  overflow: scroll;
}

@media (max-width: 900px) {
  .abyss-table {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .pageContainer {
    grid-column: 1 / 4;
  }
}
.blog-post {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  height: auto;
  background-color: white;
  box-shadow: 0px 0px 1px 1px rgb(0 0 0 / 0.15);
}

.leaderboard-row {
  height: 50px;
  background: rgb(0 0 0 / 0.8);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.leaderboard-row::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 5px;
  width: 100%;
  background: linear-gradient(180deg, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0));
}

.abyss-info-row {
  margin-bottom: 10px;
  background-color: white;
}

.table-filters {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}